div.q {
  background-color: #52796F;
}
div.w {
  background-color: #415C5B;
}
div.e {
  background-color: #2F3E46;
}
div {
  padding: 10px;
  margin: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-style: solid;
  border-radius: 30px;
  border-color: #CAD2C5;
  display: flow-root;
}

li {
  background-color: #415C5B;
  display: inline-block;
  text-align: center;
  border-style: solid;
  border-radius: 30px;
  border-color: #CAD2C5;
  padding: 10px;
}
li:hover {
  background-color: #2F3E46;
}
li.chosen {
  background-color: #2F3E46;
  border-radius: 30px;
  padding-top: 6px;
  padding-bottom: 6px;
}
ul {
  margin-left: 10px;
}

a {
  color: #CAD2C5
}

body {
  background-color: #84A98C;
  color: #CAD2C5;
  font-family: Courier;
}

img#python {
  width: 370px;
  height: auto;
  border-style: solid;
  border-radius: 20px;
  border-color: #CAD2C5;
}
img {
  width: 370px;
  height: auto;
  border-style: solid;
  border-radius: 20px;
  border-color: #CAD2C5;
  width: 200px;
  float:right;
}

iframe {
  border-style: solid;
  border-radius: 20px;
  border-color: #CAD2C5;
  flex-grow: 1;
  margin: 2px;
  padding: 0;
  float: right;
}
